 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h4>For technical personnel:</h4><p>Yi is always up for challenges. Detailed skill set can be found on <a class=" btn-outline" href="https://www.linkedin.com/in/yidcheng#background-skills">LinkedIn</a>
                </div>
                <div class="col-lg-4">
                    <h4>For other purposes. Here are some common reviews about Yi</h4>
                    <p>"Damn it, Yi!"</p>
                    <p>"Yi...Yi...Yi..."</p>
                    <p>"Casually hardcore"</p>
                    <!--<p>Others may be explicit, but feel free to ask in person</p>-->
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                    <!--<a href="#" class="btn btn-lg btn-outline">-->
                        <!--<i class="fa fa-download"></i> Download Theme-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </section>