 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Yi is always up for challenges. Detailed skill set can be found on <a class=" btn-outline" href="https://www.linkedin.com/in/yidcheng#background-skills">LinkedIn</a>
                </div>
                <div class="col-lg-4">
                    <p>I can eat anything you can eat, so feel free to <a class=" btn-outline" href="https://twitter.com/yidcheng">grab me</a> for lunch.</p>
                </div>
                <div class="col-lg-4">
                    <p>Active on  <a class=" btn-outline" href="https://github.com/wisechengyi">Github</a>.</p>
                </div>
            </div>
        </div>
    </section>